# This is a basic workflow to help you get started with Actions

name: LaTeX Compilation and Release

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the "main" branch with a "v.*" tag
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container:
      image: paperist/texlive-ja:latest
      volumes:
        - _build:/_build
      options: --cpus 1

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # # Runs a single command using the runners shell
      # - name: Build PDF
      #   run: sh $GITHUB_WORKSPACE/makePDF.sh

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          jb build $GITHUB_WORKSPACE --builder latex
          sed -i -s "s/,10pt,/,12pt,/" $GITHUB_WORKSPACE/_build/book.tex
